modules = ["python-3.11:v3-20230300-3f4725c", "poetry-python"]

[nix]
channel = "stable-23_11"

[deployment]
run = ["python3", "main.py"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 5000
externalPort = 80

[languages]
python = "3.11"

[languages.python]
pattern = "**/*.py"

[languages.python.languageServer]
start = "pylsp"

[[workflows.workflow.tasks]]
name = "Install Dependencies"
task = "poetry install"